/* ==========================================================
   HERO SEARCH
========================================================== */

.hero-search-wrapper {

    width: min(760px, 90vw);

    margin: 0 auto 0;

    position: relative;

    margin-top:52px;

}

.hero-search {

    position: relative;

    overflow: visible;

    isolation: isolate;

    display: grid;

    grid-template-columns:
        72px 1px 1fr 56px;

    align-items: center;

    gap: 20px;

    width: 100%;

    height: 92px;

    padding: 0 22px;

    border-radius: 999px;

    background:
        linear-gradient(
            180deg,
            rgba(18,22,34,.92) 0%,
            rgba(10,13,22,.96) 100%
        );

    border: 1px solid rgba(255,225,170,.18);

    backdrop-filter: blur(20px);

    box-shadow:

        inset 0 1px 0 rgba(255,255,255,.05),

        0 16px 40px rgba(0,0,0,.28);

}

.hero-search:hover{

    border-color:#F0CB82;

    box-shadow:

        0 0 12px rgba(255,220,140,.95),

        0 0 28px rgba(255,220,140,.85),

        0 0 55px rgba(255,220,140,.55),

        0 0 100px rgba(255,220,140,.30),

        0 22px 45px rgba(0,0,0,.40);

}

.hero-search-icon {

    width: 64px;
    ;

    height: 64px;
    ;

    border-radius: 50%;

    justify-self: center;

    border: 1px solid rgba(228, 190, 118, .22);

    background: rgba(255, 255, 255, .015);

    transition:
    transform .45s ease,
    box-shadow .45s ease;

}

.hero-search:hover .hero-search-icon{

    transform:rotate(18deg);

    box-shadow:
        0 0 18px rgba(216,178,108,.28);

}

.hero-divider {

    width: 1px;

    height: 34px;

    background: rgba(228, 190, 118, .10);

}

.hero-search input {

    width: 100%;

    border: none;

    outline: none;

    background: none;

    color: #F7F4EE;

    font-size: 19px;

    font-weight: 300;

    font-family: inherit;

    line-height: 104px;

}

.hero-search input::placeholder {

    color: rgba(255, 245, 230, .28);
    ;

}

.hero-search button {

    width: 64px;

    height: 64px;

    justify-self: center;

    border: none;

    border-radius: 50%;

    background: rgba(255, 255, 255, .03);

    border: 1px solid rgba(228, 190, 118, .22);

    outline: 1px solid rgba(255, 225, 170, .05);

    outline-offset: -2px;

    color: #E3BA72;

    font-size: 28px;

    cursor: pointer;

    transition: .35s;

}

.hero-search button:hover {

    transform: scale(1.06);

}

@keyframes borderGlow {

    0%,
    100% {

        box-shadow:
            0 0 8px rgba(232, 190, 110, .22),
            0 0 18px rgba(232, 190, 110, .14),
            0 22px 45px rgba(0, 0, 0, .35);

    }

    50% {

        box-shadow:
            0 0 12px rgba(255, 220, 140, .45),
            0 0 28px rgba(255, 220, 140, .28),
            0 0 55px rgba(255, 220, 140, .12),
            0 22px 45px rgba(0, 0, 0, .35);

    }

}